.card-img:hover .overlay {
    opacity: 1;
  }
  .icon {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon:hover{
      color: gray;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.13351278011204482) 0%, rgba(0,0,0,1) 100%);
}

  .card-img {
    position: relative;
   
  }

  .bg-orange{
      background-color: #FF4F47;
  }
 
